/*laptop view general*/
html {
  font-size: 18px;
  line-height: 1.4;
}
.siteContainer {
  width: 960px;
}

/*tablet view general*/
@media only screen and (max-width: 1024px) {
  .siteContainer {
    width: 100%;
  }
}
/*mobile view general*/
@media only screen and (max-width: 1024px)

/*mainBanner laptop view*/
.mobile {
  display: none;
}
.mainBanner {
  display: flex;
  justify-content: center;
  background-image: url(../images/glasses-bg.png);
  height: 30rem;
  background-size: cover;
}

header {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
  padding: 1rem 2rem;
}

header a {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

.nameAndLogo {
  display: flex;
  align-items: center;
}

.nameAndLogo img {
  height: 1.5rem;
  padding-right: 1rem;
}

.motto {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 2rem;
  top: 10rem;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;

}
.motto h1{
  background-color: white;
  color: black;
  padding: 1.5rem 5rem;
}

/*mainBanner tablet view*/
@media only screen and (max-width: 1024px) {
  .mainBanner{
    height: 22rem;
    background-size: cover;
    width: 100%;
  }
  .motto {
    margin-right: 4rem;
    top: 5rem;
  }
  .motto h1 {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
  .mobile {
    display: none;
  }
}

/*mainBanner mobile view*/
@media only screen and (max-width: 1024px) {
  .mainBanner{
    height: 17rem;
    background-size: cover;
    width: 100%;
  }
  .notMobile {
    display: none;
  }
}
